body{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

div{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.big{
    margin-left: 30px;
    margin-right: 30px;
}

form{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
