body{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

div{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

form{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}